* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
}
.header {
  margin-inline: auto;
  max-width: calc(100% - 400px);
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  margin-inline: auto;
  max-width: calc(100% - 400px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-small {
  height: 50px;
}
.logo-big {
  height: 300px;
}
h1 {
  font-size: 80px;
  color: white;
}
h5 {
  padding: 10px;
}
.subscribe {
  background: #4f51fb;
  color: white;
  border-radius: 25px;
  border-color: #4f51fb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 100px;
}
.search {
  color: white;
  height: 40px;
  width: 350px;
  border-radius: 25px;
  background-color: transparent;
  border-color: white;
  margin-bottom: 20px;
}
.content-buttons {
  display: flex;
}
.blue-button {
  background-color: #4f51fb;
  color: white;
  border-radius: 25px;
  border-color: #4f51fb;
  height: 40px;
  width: 100px;
}
.button-see {
  margin-left: 20px;
  color: white;
  background-color: transparent;
  border-radius: 25px;
  border-color: white;
  height: 40px;
  width: 100px;
}
.footer {
  margin-inline: auto;
  max-width: calc(100% - 400px);
  display: flex;
  justify-content: space-around;
}
.logo-bottom {
  height: 30px;
}
.title {
  line-height: 0;
}
.simple_button {
  background-color: transparent;
  color: white;
  border-color: transparent;
}
button {
  font-weight: bold;
  cursor: pointer;
}
.simple_button:hover {
  color: gray;
}
